body{
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
.page{
    top: 0;
    margin: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    opacity: 75%;
}
.nav{
    color: azure;
    box-sizing: border-box;
    width: max-content;
    height: 40px;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    background-color: black;

}
.item{
    padding-top: 12px;
    margin-left: 50px;
    font-weight: 2;
    color: white;
}
}
.nav2{
    margin-right: 30px;
    justify-content: space-around;
    display: flex;
    font-size: 11px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    
}
.body{
    top: 60px;
    position: relative;
    text-align: center;
    color: white;
    line-height: 10px;
    background-color: black;

}
.body img{
    margin-top: 30px;
}
.body2{
    top: 10px;
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    line-height: 0px;
    background-color: rgb(255, 255, 255);

}
#head{
    font-size: 52px;
    font-weight: 600;
    
}
#pro{
    font-size: 25px;
    position: relative;
    bottom: 7px;
}
#head2{
    font-size: 52px;
    font-weight: 600;
    position: relative;
    top: 30px;
    
}
#big{
    position: relative;
    bottom: 20px;
    font-size: 25px;
}
.link{
    text-decoration: none;
    margin: 20px;
    font-size: x-large;
    color: rgb(69, 150, 242);
}
.side{
    box-sizing: border-box;
}
.second{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    background-color: white;
    margin-top: 0;
}
.second .text{
    margin-top: 100px   ;
}
